<html style="background-color: #333333;">
  <head>
    <title>FPL Dashboard</title>
    <style>
      a:visited{
        color: cornflowerblue;
      }
      a:link{
        color: cornflowerblue;
      }
      a:hover{
        color: coral
      }
    </style>
  </head>
  <bod>
    <header class="heading">
      <h1 style="color: #28D0B4;">Fantasy Premier League Exploration</h1>
      <p class="intro" style="color: #28D0B4; margin-top: -10px;">Using stats to look for key additions for your fpl team</p>
      <br>
      <nav style="margin-top: -10px;">
        <a href="https://fantasy.premierleague.com" class="fpl-link">FPL</a>
        <a href="https://github.com/sidthakur08/fpl_explore" class="github-link">Github Repo</a>
        <a href="https://twitter.com/sidtweetsnow" class="twitter-link">Twitter</a>
        <a href="https://fbref.com/en/" class ="data-link">Data Source</a>
      </nav>
    </header>
    <br>
    <h3 style="color: #28D0B4;">DASHBOARD LINKS FOR DIFFERENT POSITIONS</h3>
    <a href="/keeper/" class="dash-link">
        <span>Keepers Stats</span>
    </a><br>
    <a href="/defender/" class="dash-link">
      <span>Defenders Stats</span>
    </a><br>
    <a href="/attacker/" class="dash-link">
      <span>Attackers Stats</span>
    </a>

  </body>
</html>