body {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #333;
}
h1, h2, h3 {
    color: #28D0B4;
    font-family: Rockwell; 
    font-size: 2.2em;
}

h4,h5,h6 {
    color: #28D0B4;
    font-family: Rockwell; 
    font-size: 1.2em;
}

a:visited{
    color: cornflowerblue;
  }
  a:link{
    color: cornflowerblue;
  }
  a:hover{
    color: coral
  }